text {
	font-family:Droid Sans;
	fill-opacity:.4;
}

.specialdaytext {
	font-family:Droid Sans;
	fill-opacity:.3;
}


.birthdaytext {
	font-family:Droid Sans;
	fill-opacity:1;
	fill:#101088;
}

.feiertagstext {
	font-family:Droid Sans;
	fill-opacity:.4;
	fill:#000000;
}



.title{
	fill-opacity:1;
	text-align:center;
	text-anchor:middle;
	font-family:Droid Sans;
	font-size:154px
}

.titlebar{
	fill:#009900;
	fill-opacity:0;
}

.copyleft{
	text-anchor:end;
	font-size:30px;
}

.monthname{
	fill-opacity:1;
	font-size:55px;
	text-align:center;
	text-anchor:middle;
	font-family:Droid Sans;
}

.month{
	fill:none;
	enable-background:accumulate
}

.day{
	fill:none;
	enable-background:accumulate
}

.invisible {
	display:none !important;
}

.nofill {
	fill-opacity:0;
}

.daynumber{
	text-anchor:end;
	fill-opacity:1;
	font-size:60px;
}

.weekday{
	fill-opacity:1;
	fill:#101088;
	font-size:30px;
}

.holiday{
	fill-opacity:.025;
	fill:#0000FF;
}

.weekend{
	fill:#F0F0F0;
}

.holiday.weekend{
	fill-opacity:1;
	fill:#DFE8FF;
}

.pruefungmark{
	fill:#660066;
	fill-opacity:.7;
}

.bergmark{
	fill:#003399;
}

.sonstigesmark{
        fill:#000080;
}

.fsimark{
	fill:#FFFF00;
}
